<nav class="navbar bg-body-tertiary container-fluid">

    <div
        class="bg-body-tertiary w-full h-[50px] flex justify-between items-center px-4 text-gray-800 font-sans bg-[#dddddd]  backdrop-filter backdrop-blur-sm bg-opacity-100">
        <div>
            <h2 class="font-bold text-2xl">Blogify</h2>
        </div>
        <% if (locals.user) { %>
            <div>
                <p class="text-xl font-bold">
                    <a href="">Add blog</a>

                </p>
            </div>

            <% } %>

                <ul class="flex">
                    <li class="px-2">
                        <a href="/">Home</a>

                    </li>

                    <% if (!locals.user) { %>
                        <li class="px-2">
                            <a href="/user/signin">Signin</a>
                        </li>

                        <% }else{ %>
                            <li class="px-2">
                                <a href="/user/logout">Logout</a>
                            </li>


                            <% } %>


                </ul>

    </div>


</nav>






<!-- <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">
                Search
            </button>
        </form>
    </div>
</nav> -->